/* CSS STYLES FOR STARTUP LANDING PAGE */ 
html {
	box-sizing: border-box;
}

*, *:berfore, *:after {
	box-sizing: inherit;
}

body, h1, h2, h3 {
	font-family: "Roboto", sans-serif;
	font-size: 16px;
	color: #838994;
	font-weight: 300;
	letter-spacing: 0.03em;
	-webkit-font-smoothing: antialised;
	padding: 0;
	margin: 0;
}

li {
	list-style: none;
}

.content {
	width: 80%;
	margin: auto;
	min-width: 768px;
}

.center-content {
	text-align: center;
}

button:hover,
li:hover {
	cursor: pointer;
}

/*---------------------*/
/* NAVIGATION SECTION */
/*---------------------*/

.top-navigation {
	background-color: #fff;
	position: fixed;
	width: 100%;
	z-index: 9999;
}

.top.navigation > .content {
	width: 970px;
	height: 70px;
	margin: auto;
}

.top-navigation .content img {
	margin-top: 15px;
	padding: 0 15px;
	width: 46px;
}

*.top-navigation .content ul {
	display: inline-block;
	text-align: right;
	transform: translateY(-100%);
}

.top-navigation .content .links li {
	display: inline-block;
	padding: 0 15px;
}

.top-navigation .content .links > li:hover {
	color: aqua;
	transition: color .65s;
	transform: scale(1.1)
}

.top-navigation .links > .active {
	color: #4c5058;
	font-weight: 500;
}

/*---------------------*/
/* INTRODUCTION SECTION */
/*---------------------*/

.introduction {
	background: url(img/first-background%20copy.jpg) no-repeat center bottom fixed;
	background-size: cover;
	height: 45.938rem;
	overflow: auto;
/*Can't you just use padding-top instead of margin-top so overflow isn't required?*/
}

.introduction .content .center-content {
	margin-top: 13.5em;
	overflow: auto;
}

.introduction .content .center-content h1 {
	font-size: 3rem;
}

.introduction .content .center-content h3 {
	font-size: 1.5rem;
}

.introduction .content .center-content > h1,
.introduction .content .center-content > h3,
.introduction .content .center-content .big-button {
	margin: .65rem 0;
	color: #fff;
}

.introduction .content .center-content .big-button > button {
	padding: 16px 26px;
	width: 12rem;
	margin: 1.5rem;
	color: #fff;
	font-weight: 700;
	font-size: 1.2rem;
	background-color: #ed860e;
	border-radius: 4px;
	border-style: none;
	line-height: 1.33rem;
}

.introduction .content .center-content .big-button > button:hover {
	background-color: #f7ac56;
	transition: background-color .65s;
}

/*---------------------*/
/* THREE ICONS SECTION */
/*---------------------*/

.three-icons .content .center-content > h2 {
	margin: 7rem 0 3.5rem;
	font-size: 2.5rem;
}

.three-icons .content .center-content .devices > h3 {
	margin: 3.5rem 0;
	font-size: 1.5rem;
}

.three-icons .content .center-content > h2,
.three-icons .content .center-content .devices > h3 {
	color: #000;
}

.three-icons .content .center-content > .devices {
	width: 33.33%;
	float: left;
	display: inline-block;
	height: 4rem;
}

.three-icons .content .center-content .devices > img {
	height: 8.5rem;
} 





