/* CSS STYLES FOR STARTUP LANDING PAGE */ 
html {
	box-sizing: border-box;
}

*, *:berfore, *:after {
	box-sizing: inherit;
}

body {
	font-family: "Roboto", sans-serif;
	font-size: 16px;
	color: #838994;
	letter-spacing: 0.03em;
	-webkit-font-smoothing: antialised;
}

li {
	list-style: none;
}

/*---------------------*/
/* NAVIGATION SECTION */
/*---------------------*/

.top-navigation {
	background-color: #fff;
}

.top.navigation > .content {
	width: 970px;
	height: 70px;
	margin: 0 auto;
}

.top-navigation .content > img {
	margin-top: 15px;
	padding: 0 15px;
	width: 46px;
}


*.top-navigation .content > ul {
	width: 80%;
	display: inline-block;
	text-align: right;
	transform: translateY(-100%)
}

.top-navigation .content .links > li {
	display: inline-block;
	padding: 0 15px;
}

.top-navigation .content .links > li:hover {
	color: aqua;
	cursor: pointer;
	transition: color .65s;
	transform: scale(1.1)
}

.top-navigation .links > .active {
	color: #4c5058;
	font-weight: 500;
}

